<div class="container">
    <div class="row">
        <div class="col">
            <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control" id="nameInput" placeholder="David Smith">
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="emailInput" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="passwordInput" placeholder="********">
                </div>
                <div class="mb-3">
                    <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPasswordInput" placeholder="********">
                </div>
                <button type="submit" class="btn btn-primary w-100" >Register</button>
                <p class="text-center">or</p>
                <div class="link-container text-center">
                    <a  class="text-primary" >Already have a account? Login</a>
                </div>
            </form>
        </div>
    </div>
</div>